Repository Financial-Times/origami-ci-tools, pull requests merged in 2021-02, with the labels that each got.

#107 Do not release prerelease components with the latest tag
  commands/release.js
Labels: cli, release:beta

#108 Do not release prerelease components with the latest tag
  commands/release.js
Labels: cli, release:minor

#112 Fix the release script
  commands/release.js
Labels: cli, release:patch

#114 simplify our dependabot auto-merge system
  .github/workflows/auto-approve.yml
  .github/workflows/automerge.yml
Labels: cli
